In [2]:
import pandas as pd
import numpy as np
netflix_data = pd.read_csv('/Users/gopalmacbook/Machine Learning/GitHub /Case Studies/Netflix_Recommendation/netflix.csv')
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
# Check the structure of the dataset
print(netflix_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [4]:
total_movies = netflix_data[netflix_data['type'] == 'Movie'].shape[0]
total_tv_shows = netflix_data[netflix_data['type'] == 'TV Show'].shape[0]
print("Total number of movies:", total_movies)
print("Total number of TV shows:", total_tv_shows)

Total number of movies: 6131
Total number of TV shows: 2676

In [5]:
country_counts = netflix_data['country'].value_counts()
print("Content from different countries:")
print(country_counts)

Content from different countries:
country
United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

In [6]:
release_year_counts = netflix_data['release_year'].value_counts().sort_index()
print("Distribution of content by release year:")
print(release_year_counts)

Distribution of content by release year:
release_year
1925       1
1942       2
1943       3
1944       3
1945       4
        ...
2017    1032
2018    1147
2019    1030
2020     953
2021     592
Name: count, Length: 74, dtype: int64

In [7]:
 content_types = netflix_data['type'].value_counts()
print("Comparison of TV shows vs. movies:")
print(content_types)

Comparison of TV shows vs. movies:
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [14]:
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'],errors='coerce')
netflix_data['month_added'] = netflix_data['date_added'].dt.month_name()
tv_show_counts_by_month = netflix_data[netflix_data['type'] == 'TV Show']['month_added'].value_counts().sort_index()
print("Best time to launch a TV show by month:")
print(tv_show_counts_by_month)

Best time to launch a TV show by month:
month_added
April        209
August       230
December     250
February     175
January      181
July         254
June         232
March        205
May          187
November     199
October      210
September    246
Name: count, dtype: int64

In [15]:
actors_counts = netflix_data['cast'].str.split(', ').explode().value_counts()
print("Analysis of actors:")
print(actors_counts)

Analysis of actors:
cast
Anupam Kher                43
Shah Rukh Khan             35
Julie Tejwani              33
Naseeruddin Shah           32
Takahiro Sakurai           32
                           ..
Maryam Zaree                1
Melanie Straub              1
Gabriela Maria Schmeide     1
Helena Zengel               1
Chittaranjan Tripathy       1
Name: count, Length: 36439, dtype: int64

In [16]:
directors_counts = netflix_data['director'].str.split(', ').explode().value_counts()
print("Analysis of directors:")
print(directors_counts)

Analysis of directors:
director
Rajiv Chilaka     22
Jan Suter         21
Raúl Campos       19
Suhas Kadav       16
Marcus Raboy      16
                  ..
Raymie Muzquiz     1
Stu Livingston     1
Joe Menendez       1
Eric Bross         1
Mozez Singh        1
Name: count, Length: 4993, dtype: int64

## 1.1 Summary of Basic Metrics Analysis:
Total number of movies: 6,131

Total number of TV shows: 2,676

Content Availability in Different Countries: The dataset includes content from various countries,
with the highest count from the United States (2,818), followed by India (972), and the United
Kingdom (419). Netflix should focus on expanding its content library in countries with high demand
and consider producing localized content to cater to specific markets. Distribution of Content by
Release Year:

The dataset spans a wide range of release years, from 1925 to 2021. The distribution shows an
increasing trend in the number of movies and TV shows released over the years, with a significant
spike in content released from 2015 onwards. Netflix can analyze the popularity of content from
different eras to identify potential trends or preferences among viewers. Comparison of TV Shows
vs. Movies:

The dataset contains a higher number of movies (6,131) compared to TV shows (2,676). Netflix
should analyze the popularity and demand for TV shows and movies separately to understand
subscribers’ preferences and invest in producing high-quality content for the more popular category.
Best Time to Launch a TV Show by Month:

The analysis suggests the following months as potentially favorable for launching TV shows: December (250), July (254), and September (246). Netflix can strategically plan the release of new
TV shows during these months to potentially capitalize on increased viewership and engagement.
Analysis of Actors:

The dataset includes various actors, with Anupam Kher (43) and Shah Rukh Khan (35) having
the highest counts. Netflix can collaborate with popular actors who have been associated with
successful content to create engaging shows/movies that have a higher likelihood of attracting
viewers. Analysis of Directors:

The dataset includes multiple directors, with Rajiv Chilaka (22) and Jan Suter (21) having the
highest counts. Netflix can identify talented directors and collaborate with them to produce highquality content that resonates with viewers.

## Q.2- Observations on the shape of data, data types of all the attributes, conversion of categorical attributes to ‘category’ (If required), missing value detection, statistical summary

In [17]:
print("Shape of the dataset:", netflix_data.shape)

Shape of the dataset: (8807, 13)

In [18]:
print("Data types of attributes:")
print(netflix_data.dtypes)

Data types of attributes:
show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
month_added             object
dtype: object

In [19]:
categorical_attributes = ['type', 'title', 'director', 'cast', 'country','rating', 'listed_in', 'description']
netflix_data[categorical_attributes] = netflix_data[categorical_attributes].astype('category')
print("Missing values:")
print(netflix_data.isnull().sum())

Missing values:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        98
release_year       0
rating             4
duration           3
listed_in          0
description        0
month_added       98
dtype: int64

In [20]:
print("Statistical summary of numerical attributes:")
print(netflix_data.describe())

Statistical summary of numerical attributes:
                          date_added  release_year
count                           8709   8807.000000
mean   2019-05-23 01:45:29.452290816   2014.180198
min              2008-01-01 00:00:00   1925.000000
25%              2018-04-20 00:00:00   2013.000000
50%              2019-07-12 00:00:00   2017.000000
75%              2020-08-26 00:00:00   2019.000000
max              2021-09-25 00:00:00   2021.000000
std                              NaN      8.819312

## 2.1 Summary for Question 2
The provided Netflix dataset contains information about movies and TV shows available on the
platform. Here is a summary of the dataset based on the analysis:

Shape of the dataset: The dataset consists of 8,807 rows and 14 columns.

Data types of attributes: The dataset includes various data types, such as object (strings), datetime,
int64, float64.

Missing values: Several columns have missing values, including ‘director’, ‘cast’, ‘country’,
‘date_added’, ‘rating’, ‘duration’, ‘year_added’, and ‘month_added’. The number of missing values
varies for each column.
    
Statistical summary: The numerical attributes, ‘release_year’ and ‘year_added’, have been analyzed. The ‘release_year’ represents the actual release year of the movies or TV shows, while
‘year_added’ indicates the year when the content was added to Netflix. The summary provides
measures such as count, mean, minimum, maximum, and quartiles for these attributes.

## Que 3- Non-Graphical Analysis: Value counts and unique attributes

In [23]:
#Types of content available in different countries
content_by_country = netflix_data.groupby('country')['listed_in'].value_counts().sort_values(ascending=False)
print(content_by_country)

country           listed_in
United States     Documentaries                                       249
                  Stand-Up Comedy                                     209
India             Comedies, Dramas, International Movies              120
                  Dramas, International Movies                        118
                  Dramas, Independent Movies, International Movies    108
                                                                     ...
India, Australia  TV Shows                                              0
                  TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers          0
                  Music & Musicals, Stand-Up Comedy                     0
                  Music & Musicals, Romantic Movies                     0
Zimbabwe          Thrillers                                             0
Name: count, Length: 384472, dtype: int64

In [24]:
# Number of movies released per year
movies_per_year = netflix_data[netflix_data['type'] == 'Movie']['release_year'].value_counts().sort_index()
print(movies_per_year)

release_year
1942      2
1943      3
1944      3
1945      3
1946      1
       ...
2017    767
2018    767
2019    633
2020    517
2021    277
Name: count, Length: 73, dtype: int64

In [26]:
# Number of TV shows released per year
movies_per_year = netflix_data[netflix_data['type'] == 'TV Show']['release_year'].value_counts().sort_index()
print(movies_per_year)

release_year
1925      1
1945      1
1946      1
1963      1
1967      1
1972      1
1974      1
1977      1
1979      1
1981      1
1985      1
1986      2
1988      2
1989      1
1990      3
1991      1
1992      3
1993      4
1994      2
1995      2
1996      3
1997      4
1998      4
1999      7
2000      4
2001      5
2002      7
2003     10
2004      9
2005     13
2006     14
2007     14
2008     23
2009     34
2010     40
2011     40
2012     64
2013     63
2014     88
2015    162
2016    244
2017    265
2018    380
2019    397
2020    436
2021    315
Name: count, dtype: int64

In [27]:
# Comparison of TV shows vs. movies
content_type_counts = netflix_data['type'].value_counts()
print(content_type_counts)

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [28]:
 # Best time to launch a TV show
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'])
netflix_data['month_added'] = netflix_data['date_added'].dt.month
tv_shows_by_month = netflix_data[netflix_data['type'] == 'TV Show']['month_added'].value_counts().sort_index()
print(tv_shows_by_month)

month_added
1.0     181
2.0     175
3.0     205
4.0     209
5.0     187
6.0     232
7.0     254
8.0     230
9.0     246
10.0    210
11.0    199
12.0    250
Name: count, dtype: int64

In [30]:
# Analysis of actors/directors of different types of shows/movies
actors_counts = netflix_data['cast'].str.split(', ').explode().value_counts()
directors_counts = netflix_data['director'].str.split(', ').explode().value_counts()
print(actors_counts)
print(directors_counts)
# this is already did in question 1, you can refer that

cast
Anupam Kher                43
Shah Rukh Khan             35
Julie Tejwani              33
Naseeruddin Shah           32
Takahiro Sakurai           32
                           ..
Maryam Zaree                1
Melanie Straub              1
Gabriela Maria Schmeide     1
Helena Zengel               1
Chittaranjan Tripathy       1
Name: count, Length: 36439, dtype: int64
director
Rajiv Chilaka     22
Jan Suter         21
Raúl Campos       19
Suhas Kadav       16
Marcus Raboy      16
                  ..
Raymie Muzquiz     1
Stu Livingston     1
Joe Menendez       1
Eric Bross         1
Mozez Singh        1
Name: count, Length: 4993, dtype: int64

In [32]:
# Focus on TV shows versus movies in recent years
movies_tvshow_shares_per_year = netflix_data.groupby('release_year')['type'].value_counts(normalize=True)
print(movies_tvshow_shares_per_year)

release_year  type
1925          TV Show    1.000000
              Movie      0.000000
1942          Movie      1.000000
              TV Show    0.000000
1943          Movie      1.000000
                           ...
2019          TV Show    0.385437
2020          Movie      0.542497
              TV Show    0.457503
2021          TV Show    0.532095
              Movie      0.467905
Name: proportion, Length: 148, dtype: float64

Example: For movies in the year 2020 is 0.542497, while the normalized proportion for TV shows
is 0.457503. This suggests that in the year 2020, movies made up approximately 54.25% of the
content, while TV shows accounted for around 45.75%.

                                 
## 3.1 Summary for Question 3

Types of Content: The dataset provides insights into the types of content available in different
countries. The count of content varies across countries and genres, with some countries having a
diverse range of content available.

Movies Released per Year: The number of movies released per year has varied over time. The
dataset includes movies released from 1925 to the present, with a higher number of releases in
recent years.
    
TV Shows versus Movies: The dataset contains both TV shows and movies. The count reveals that
there are more movies (6131) compared to TV shows (2676) in the dataset.
    
Best Time to Launch TV Shows: The dataset includes information on the month when content was
added to Netflix. The count of TV shows added per month suggests that July and December have
the highest number of TV show releases.

Analysis of Actors and Directors: The dataset includes information on the cast (actors) and directors
of the shows/movies. The count reveals the most frequently appearing actors and directors in the
dataset.

Focus on TV Shows versus Movies in Recent Years: The exploration analyzes the normalized
proportion of TV shows and movies by release year. It shows the relative focus of TV shows and
movies in recent years, indicating the proportion of each content type within a specific year.